<nav class="navbar navbar-dark bg-inverse navbar-fixed-top topnav">
    <div style="text-align: left;" class="collapse navbar-toggleable-xs clearfix text-center">
      <div>
        <ul class="nav navbar-nav top-nav topnav-links navbar-right pull-xs-right top-right-nav">
          <li class="dropdown nav-item" dropdown>
            <a href="javascript:;" id="single-button" class="nav-link dropdown-toggle" style="color: #fff;"dropdownToggle >
              {{username}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="single-button">
              <li *ngIf="roleId === 'admin' || roleId === 'fda'">
                <a class="dropdown-item" routerLink="/dashboard/account">
                  Account
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:;" (click)="logout()">
                  Log Out
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="dropdown-item" routerLink="/dashboard/about">
                  About SnapRx
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <a *ngIf="roleId === 'admin' || roleId === 'fda'" class="navbar-brand topnav-links navbar-right pull-xs-right side-bar-mobile-disable" [routerLink]="['/dashboard/pharmacies/all']">Pharmacies</a>
        <a *ngIf="roleId === 'admin' || roleId === 'fda'" class="navbar-brand topnav-links navbar-right pull-xs-right side-bar-mobile-disable" [routerLink]="['/dashboard/transactions']">Transactions</a>
        <a *ngIf="roleId === 'admin' || roleId === 'fda'" class="navbar-brand topnav-links navbar-right pull-xs-right side-bar-mobile-disable" [routerLink]="['/dashboard/dash']">Dashboard</a>
        <ul *ngIf="roleId === 'admin' || roleId === 'fda'" class="nav navbar-nav top-nav action-dropdown topnav-links navbar-right pull-xs-right top-right-nav side-bar-mobile-disable" [ngStyle]="{'background': actionBackgroundColor, 'border-color': actionBackgroundColor}">
          <li class="dropdown nav-item" dropdown>
            <a href="javascript:;" id="single-button" class="nav-link dropdown-toggle" style="color: #fff;"dropdownToggle >
              Actions <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="single-button">
              <li>
                <a class="dropdown-item" routerLink="/dashboard/home/licensing">Licensing</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/dashboard/home/expired-meds">Expired Meds</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/dashboard/home/counterfeit">Counterfeit</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/dashboard/home/disaster-recovery">Disaster Recovery</a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="dropdown-item" routerLink="/dashboard/message-center">Message Center</a>
              </li>
            </ul>
          </li>
        </ul>
        <a *ngIf="actionTypeIndicator != ''" class="navbar-brand topnav-links navbar-right pull-xs-right side-bar-mobile-disable btn btn-xs btn-danger" style="background: rgb(234, 68, 68); font-weight: bold !important; height: 36px; margin-right: 10px; border-radius: 3px;" [ngStyle]="{'background': actionBackgroundColor, 'border-color': actionBackgroundColor}">{{actionTypeIndicator}}</a>        
      </div>

      <div class="top-nav-logo" style="float: none; display: inline-block;">
        <a routerLink="/dashboard/home/all">
          <img style="width: 335px;" src="assets/img/logo-nav.png">
        </a>
      </div>
    </div>
</nav>
