<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card card-block card-no-top-padding">
      <div class="row">
        <div class="col-xl-12 no-padding">
          <div class="page-header-section">
            <h2>
              <b>Dashboard</b>
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header card-default">
            <h5>Transactions</h5>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <input type="text" class="form-control" type=text [value]="search" [formControl]="searchControl" placeholder="Search...">
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Pharmacy</th>
                      <th>Mobile Number</th>
                      <th>Prescriptions</th>
                      <th>Last Transaction</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of transactions">
                      <td scope="row"><a style="cursor: pointer;" (click)="viewPharmacy(transaction.id)">{{transaction.organization_branch}}</a></td>
                      <td>{{getOwnerInfo(transaction.id, 'mobile') || 'n/a'}}</td>
                      <td>{{getPrescriptionNumber(transaction.id) || 'n/a'}}</td>
                      <td>{{getLastTransactionDate(transaction.id) || 'n/a'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="loader" *ngIf="isLoading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <p style="margin-top: 1rem; margin-bottom: 1rem;">Showing {{bigCurrentPage * 10 - 9}} to {{(bigCurrentPage * 10) - (10-transactions.length)}} of {{bigTotalItems}} entries</p>
                </div>
                <div class="col-lg-6" style="text-align: right;">
                  <pagination (pageChanged)="pageChanged($event)" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                  [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header card-default">
            <h5>Transaction Feed</h5>
          </div>
          <div class="card-block" style="padding-bottom: 15px;">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Total Prescriptions</th>
                    <td>{{transactionCount}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngFor="let transaction of transactionFeed | slice:0:7; let i=index" style="padding: 12px 12px;">
                <span><em>{{formatDate(transaction?.dispense_date, true)}}</em></span><br>
                <span>{{transaction?.organization_branch || 'n/a'}}</span><br>
                <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><b>{{transaction?.unverified_product}} {{transaction?.generic_name}} {{transaction?.brand_name}} ; {{transaction?.quantity_dispensed}} {{transaction?.unit_dispensed}}</b></span>
              </div>
              <p *ngIf="transactionFeed.length == 0" style="text-align: center;">Empty List.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-default">
            <h5>Transactions per Day</h5>
          </div>
          <div class="card-block graphs-mobile">
            <p *ngIf="transactionTrend.current?.length == 0 && transactionTrend.previous?.length == 0" style="text-align: center;">No Transactions.</p>
            <div class="table-responsive">
              <div class="card card-block graphs-mobile" style="box-shadow: none;">
                <div id="transaction-trend" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-default">
            <h5>Pharmacies</h5>
          </div>
          <div class="card-block graphs-mobile graphs-mobile">
            <p *ngIf="pharmacyProvinceCount?.length == 0" style="text-align: center;">No Data.</p>
            <div class="card card-block graphs-mobile" style="box-shadow: none;">
              <div id="total-fruit" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
