<div class="terms-content">
	<div class="terms-heading">
		<img src="assets/img/logo.png" alt="">
		<h1>PRIVACY POLICY</h1>
	</div>
	<div class="terms-body">
		<h3>A. INTRODUCTION</h3>
			<p>
				The SnapRx elogbook system seeks to provide a venue for all pharmacists, pharmaceutical companies including their affiliated drugstores, dispensing outlets, and distribution centers to comply with the mandate of recording all prescriptions dispensed to be recorded in an appropriate recording system. This privacy policy is to inform all Users about what and how data is collected through the SnapRx elogbook system, how it is used and shared. 
				By accepting the Privacy Policy, the User consents to freely giving information and the use of the data under this Privacy Policy.
			</p>

			<h4>Data Controllers</h4>
			<p>
				This Privacy Policy is entered by and between the registered User and mClinica.
			</p>
			<h4>Services</h4>
			<p>
				This Privacy Policy applies to the SnapRx elogbook system which includes the SnapRx elogbook mobile Application (“App”), website (“Site”), and other services that may be accessed by the App or the Site.
			</p>
			<h4>Consent</h4>
			<p>
				If the User accepts the Privacy Policy and thereafter uses the App or the Site, the User consents to the collection, use, and sharing of any personal data that may be provided under this Privacy Policy. 
			</p>
			<h4>Change</h4>
			<p>
				This Privacy Policy may be changed or modified at any time. Notifications will be sent to the User regarding any material changes made or to be made. Users may review the said changes before they become effective. 
			</p>

		<h3>B. INFORMATION</h3>
			<h4>Information provided by Users</h4>
			<p>
				<em>Registration and Account Profile</em> – The User will provide the following information upon registration and setting up of his account: 
			</p>

			<ul>
				<li>Pharmacy Name</li>
				<li>Pharmacy Owner Name</li>
				<li>Pharmacist Name</li>
				<li>Pharmacist License Number</li>
				<li>Pharmacy LTO Number</li>
				<li>Pharmacy LTO Expiration Date</li>
				<li>Business Classification</li>
				<li>Mobile Number</li>
				<li>Email Address</li>								
			</ul>
			<p>
				<em>Posting and Uploading</em> – After registration and once the account has been set up, the User may upload a photo of the prescription of the drugs dispensed and input the details of said prescription in the verified fields provided. The details to be posted shall include:
			</p>

			<ul>
				<li>Prescription Image (patient's name is covered)</li>
				<li>Age (not always)</li>	
				<li>Address (not always)</li>	
				<li>Generic Name</li>	
				<li>Dosage</li>
				<li>Brand Name</li>
				<li>Form</li>
				<li>Batch Lot Number</li>
				<li>Expiry Date</li>
				<li>Units Sold</li>
				<li>Instruction</li>
				<li>Duration</li>
				<li>Remarks</li>	
				<li>Doctor License Number</li>
				<li>Doctor Name</li>
				<li>Any other information that is visible in the prescription </li>			
			</ul>
			<p>
				<em>Device and Location</em> – Use of the App and site allows the Data Controller to have access to the Users IP address, proxy server, operating system, and or the mobile carrier. Whenever the App is used or the website accessed via a mobile device, the Data Controller also gains access to the Users current location. 
		</p>
		<h3>C. DATA USAGE</h3>
			<p>
				Primarily, data is used to ensure compliance of the pharmacies to the government’s policy regarding the collection of prescription and dispensing data. Data will be used to perform other health research and regulatory requirements. 
			</p>
			<h3>D. DATA SHARING </h3>
			<p>
				The Data Controller may share available data to its affiliates, offices, partners, and service providers to provide and develop the App and the Site and other services, or as otherwise legally required.
			</p>

		<h3>E. MISCELLANEOUS</h3>
			<h4>Legal action</h4>
			<p>The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.
			The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities or as allowed by law.</p>

			<h4>System logs and maintenance</h4>
			<p>
				For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System logs) or use for this purpose other Personal Data (such as IP Address).
			</p>
		
			<h4>Information not contained in this policy</h4>
			<p>More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. </p>

	</div>	
</div>
