<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
      <img src="assets/img/logo.png" width="400px" />
			<br><br>
			<!--<form>-->
				<div class="form-content">
					<div class="form-group input-group-lg">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Username" [(ngModel)]="loginInfo.username">
					</div>

					<div class="form-group input-group-lg">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" [(ngModel)]="loginInfo.password">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div style="text-align: left;">
							<a class="btn btn-success" style="background-color: #007402; color: #fff; border: 0; border-bottom: 3px solid #003618;" (click)="login()"> Submit </a>
							&nbsp;
						</div>
					</div>
					<div class="col-md-8">
					</div>
				</div>
				<br>
				<div class="loader" *ngIf="isLoading">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
				<p *ngIf="!isLoading">{{status}}</p>



				<!-- <a type="submit" class="btn rounded-btn" routerLink="/signup">Register</a> -->
			<!--</form>-->
		</div>
	</div>
</div>
