<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
			<div class="outer-login-card">
				<div class="inner-login-card">
					<img src="assets/img/logo.png" width="80%" />
					<br><br>
					<form name="form" role="form" (ngSubmit)="login()" #f="ngForm" novalidate>
						<div class="form-group input-group-lg">
							<input type="text" name="username" class="form-control input-underline input-lg" id="" placeholder="Username" [(ngModel)]="loginInfo.username" #username="ngModel" required>
						</div>

						<div class="form-group input-group-lg">
							<input type="password" name="password" class="form-control input-underline input-lg" id="" placeholder="Password" [(ngModel)]="loginInfo.password" #password="ngModel" required>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-4">
									<div style="text-align: left;">
										<button class="btn btn-success" style="background-color: #007402; color: #fff; border: 0; border-bottom: 3px solid #003618; text-transform: uppercase; font-weight: bold;"> Submit </button>
										&nbsp;
									</div>
								</div>
								<div class="col-md-8">
								</div>
							</div>
						</div>
						<div class="loader" *ngIf="isLoading">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
						<p *ngIf="!isLoading">{{status}}</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
