<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a (click)="eventCalled()" routerLink="/dashboard/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            Home
        </a>
        <a (click)="eventCalled()" routerLink="/dashboard/dash" [routerLinkActive]="['router-link-active']" class="list-group-item">
          Dashboard
        </a>
        <a (click)="eventCalled()" routerLink="/dashboard/message-center" [routerLinkActive]="['router-link-active']" class="list-group-item">
          Message Center
        </a>
        <a (click)="eventCalled()" [routerLink]="['transactions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            Transactions
        </a>
        <a (click)="eventCalled()" [routerLink]="['pharmacies']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            Pharmacies
        </a>
        <a (click)="eventCalled()" *ngIf="isAdmin" routerLink="/dashboard/doctors" [routerLinkActive]="['router-link-active']" class="list-group-item">
          Doctors
        </a>
        <a (click)="eventCalled()" *ngIf="isAdmin" routerLink="/dashboard/products" [routerLinkActive]="['router-link-active']" class="list-group-item">
          Products
        </a>
    </ul>
</nav>
