<div id="pac-input" class="form-group input-group map-search-bar">
	<input  class="controls form-control" type="text" style="border-radius: 0px !important;" placeholder="{{placeHolderType}}" (click)="showDropDown()" [value]="search" [formControl]="searchControl">
	<span class="input-group-btn"><button class="btn btn-primary" type="button" style="border-radius: 0px !important;"><i class="fa fa-search"></i></button></span>
	<br>
	<div *ngIf="isDropDown" style="position: fixed; width: 350px; background: white; left: 30px;">
		<div *ngIf="!isListProduct && actionType != 'counterfeit'">
			<div *ngFor="let pharmacy of pharmacySearchNameList | slice:0:5; let i=index" style="padding: 10px 10px; border-bottom: 1px solid lightgray; cursor: pointer;" (click)="viewPharmacy(pharmacy.pharmacy_id)">
				<div class="row">
					<div class="col-lg-8">
						<div>
							<span><b><a>{{pharmacy.pharmacy_name}}</a></b></span><br>
							<span>{{pharmacy.region_name || 'n/a'}}</span>
						</div>
					</div>
					<div class="col-lg-4" style="padding-left: 75px;">
						<i class="fa fa-map-marker" style="font-size: 22px; color: #888;"></i>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="!isListProduct && actionType === 'counterfeit'">
			<div *ngFor="let pharmacy of counterfeitPharmacyList | slice:0:5; let i=index" style="padding: 10px 10px; border-bottom: 1px solid lightgray; cursor: pointer;" (click)="viewPharmacyProductDetail(pharmacy)">
				<div class="row">
					<div class="col-lg-8">
						<div>
							<span><b><a>{{pharmacy.pharmacy_name}}</a></b></span><br>
							<span>{{pharmacy.region_name || 'n/a'}}</span>
						</div>
					</div>
					<div class="col-lg-4" style="padding-left: 75px;">
						<i class="fa fa-map-marker" style="font-size: 22px; color: #888;"></i>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="isListProduct">
			<div *ngIf="productNameList.length == 0 && actionType === 'expired-meds'" style="padding: 10px 10px; cursor: pointer; text-align: center;">Loading...</div>
			<div *ngFor="let product of productNameList | slice:0:5; let i=index" style="padding: 10px 10px; border-bottom: 1px solid lightgray; cursor: pointer;">
				<div class="row">
					<div class="col-lg-8">
						<div>
							<span><b><a (click)="viewProduct(product)">{{product.name}}; {{product.package_form}}; {{product.fda_packaging}}</a></b></span><br>
							<span *ngIf="actionType === 'expired-meds'">EXPIRY DATE: {{formatDate(product.expiry_date, false)}}</span>
							<span *ngIf="actionType === 'disaster-recovery'">{{product.organization_branch}}<br></span>
							<span *ngIf="actionType === 'disaster-recovery'">Transaction Date: {{formatDate(product.expiry_date, false)}}</span>
							<span *ngIf="actionType === 'counterfeit'">BATCH LOT NO: {{product.batch_lot_number}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="actionType !== 'disaster-recovery' && actionType !== 'counterfeit' && productNameList.length" style="padding: 10px 10px; cursor: pointer; text-align: center;" (click)="viewMoreItems()">
			<a>View More</a>
		</div>

	</div>
</div>

<div [ngStyle]="{'height': styleExp}">
	<div id="map" #mapDiv></div>
</div>
