<div class="container-fluid">

	<div class="row">
		<div class="col-lg-12">
			<button class="btn btn-sm btn-secondary" (click)="goBack()"><i class="fa fa-fw fa-chevron-left"></i> Back</button>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="detail-header">
				<h2 class="page-header">
					{{pharmacyDetail.name}}
				</h2>
				<p *ngIf="!isEdit">
					{{pharmacyDetail.locationInfo?.address}}
				</p>
				<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Address" [(ngModel)]="pharmacyDetail.locationInfo.address"></td>
			</div>
		</div>
		<div class="col-lg-6" style="text-align: right;">
			<button class="btn btn-sm btn-primary" (click)="enableEdit()" *ngIf="isAdmin"><i class="fa fa-fw fa-pencil"></i> Edit</button>
			<button class="btn btn-sm btn-secondary" (click)="disableEdit()" *ngIf="isEdit"><i class="fa fa-fw fa-times"></i> Cancel</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header card-default">
					Pharmacy Details
				</div>
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th scope="row">Owner's Name</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.owner_firstname}} {{pharmacyDetail.owner_lasttname}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Owner's Name" [(ngModel)]="pharmacyDetail.owner_firstname"></td>
								</tr>
								<tr>
									<th scope="row">Pharmacist's Name</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.pharmacist_firstname}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Pharmacist's Name" [(ngModel)]="pharmacyDetail.pharmacist_firstname"></td>
								</tr>
								<tr>
									<th scope="row">Pharmacist's License Number</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.pharmacist_lastname}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Pharmacist's License Number" [(ngModel)]="pharmacyDetail.pharmacist_lastname"></td>
								</tr>
								<tr>
									<th scope="row">LTO Number</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.pharmacist_licensenbr}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="LTO Number" [(ngModel)]="pharmacyDetail.pharmacist_licensenbr"></td>
								</tr>
								<tr>
									<th scope="row">LTO Expiration Date</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.gov_id1_expirationdate}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="LTO Expiration Date" [(ngModel)]="pharmacyDetail.gov_id1_expirationdate"></td>
								</tr>
								<tr>
									<th scope="row">Business Classification</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.business_classification}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Business Classification" [(ngModel)]="pharmacyDetail.business_classification"></td>
								</tr>
								<tr>
									<th scope="row">Email</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.email}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Email" [(ngModel)]="pharmacyDetail.email"></td>
								</tr>
								<tr>
									<th scope="row">Mobile No.</th>
									<td *ngIf="!isEdit">{{pharmacyDetail.mobile}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Mobile No." [(ngModel)]="pharmacyDetail.mobile"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<alert *ngIf="isUpdateSuccess" [type]="alert.type" dismissible="true">
								{{alert.message}}
							</alert>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12" style="text-align: right;">
							<button class="btn btn-sm btn-success" (click)="update()" *ngIf="isEdit"><i class="fa fa-fw fa-check"></i> Update</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header card-default">
					Transactions
				</div>
				<div class="card-block">
					<div class="table-responsive">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>Date</th>
										<th>Doctor</th>
										<th>Transaction</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let transaction of transactions">
										<th scope="row">{{transaction.id}}</th>
										<td>{{formatDate(transaction.transaction_datetime, true)}}</td>
										<td>{{transaction.doctor_firstname}} {{transaction.doctor_lastname}}</td>
										<td>
											<button class="btn btn-default btn-sm" (click)="viewTransaction(transaction.id)"><i class="fa fa-fw fa-eye"></i></button>
											<button class="btn btn-danger btn-sm" (click)="lgModal.show()" *ngIf="isAdmin"><i class="fa fa-fw fa-times"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

</div>
