<div class="container-fluid">

	<div class="row">
		<div class="col-lg-4">

		</div>
		<div class="col-lg-4">
			<div class="card card-block">
				<img style="width: 100%;" src="assets/img/logo.png">
				<br><br>
				<span><b>Version 1.1.0</b></span>
				<br><br>
				<p>This software is under <a href="http://mclinica.com">mClinica Health Solutions Inc.</a>
					Copyright © 2015. All Rights Reserved. | <a href="http://snaprx.mclinica.com/termsandconditions">Terms and Conditions</a></p>
			</div>
		</div>
		<div class="col-lg-4">
		</div>
	</div>
</div>
