<div class="page-cover-container"></div>

<div class="container-fluid-list">
    <!-- Page Heading -->
    <div class="card card-block card-with-subtitle card-no-top-padding">
      <div class="row">
        <div class="col-lg-8 no-padding">
          <div class="page-header-section">
            <h2>
              <b>{{productName || 'Loading...'}}</b>
              <a style="background-color: rgb(14, 98, 142); color: white; padding: 8px 8px; border-radius: 5px; font-size: 16px; margin-left: 15px;">
                Expired Medicines
              </a>
            </h2>
          </div>
          <div class="card-subtitle">
            <p *ngIf="!isEdit">
              {{productStrength || 'Loading...'}}
            </p>
            <td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Address" [(ngModel)]="pharmacyDetail.locationInfo.address"></td>
          </div>
        </div>
        <div class="col-lg-4" style="text-align: right; padding-top: 18px;">
          <button class="btn btn-sm btn-secondary" (click)="goBack()"><i class="fa fa-fw fa-chevron-left"></i> Back</button>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
          <div class="card card-block">
            <div class="row">
              <div class="col-lg-6">
                <p>Transactions with expired <b>{{productName}}</b></p>
              </div>
              <div class="col-lg-3">
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <input type="text" class="form-control" type=text [value]="search" [formControl]="searchControl" placeholder="Search...">
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th (click)="sortList('dispense_date')">Date</th>
                    <th (click)="sortList('dispense_date')">Pharmacy</th>
                    <th (click)="sortList('dispense_date')">LN/BN</th>
                    <th>Expiry</th>
                    <th>Instruction</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of transactions">
                    <td>{{formatDate(transaction.created_at, true)}}</td>
                    <td><a style="cursor: pointer;" (click)="viewPharmacy(transaction.prescription?.id)">{{getPharmacyName(transaction.prescription?.id) || 'n/a'}}</a></td>
                    <td>{{transaction.batch_lot_number}}</td>
                    <td>{{formatDate(transaction.expiry_date, false)}}</td>
                    <td>{{transaction.instruction}}x {{transaction.instruction_unit}}</td>
                    <td>{{transaction.remark}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p *ngIf="transactions.length == 0 && !isLoading" style="text-align: center;">No Transactions.</p>
            <div class="row">
              <div class="col-lg-12">
                <div class="loader" *ngIf="isLoading">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <p style="margin-top: 1rem; margin-bottom: 1rem;">Showing {{bigCurrentPage * 10 - 9}} to {{bigCurrentPage * 10}} of {{bigTotalItems}} entries</p>
              </div>
              <div class="col-lg-6" style="text-align: right;">
                <pagination (pageChanged)="pageChanged($event)" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Delete Transaction</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to <b>DELETE</b> this transaction?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="lgModal.hide()">Yes, I'm Sure</button>
        <button type="button" class="btn btn-secondary" (click)="lgModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>
