<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card card-block card-no-top-padding">
      <div class="row">
        <div class="col-xl-12 no-padding">
          <div class="page-header-section">
            <h2>
              <b>Dashboard</b>
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header card-default">
            <h5>Transactions</h5>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search...">
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Pharmacy</th>
                      <th>Mobile</th>
                      <th>Prescription</th>
                      <th>Last Transaction</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of transactions">
                      <td scope="row"><a style="cursor: pointer;" (click)="viewPharmacy(transaction.id)">{{transaction.organization_branch}}</a></td>
                      <td>{{transaction.mobile || 'n/a'}}</td>
                      <td>{{transaction.total_prescription || 'n/a'}}</td>
                      <td>{{transaction.total_prescription || 'n/a'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="loader" *ngIf="isLoading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <p style="margin-top: 1rem; margin-bottom: 1rem;">Showing {{bigCurrentPage * 10 - 9}} to {{bigCurrentPage * 10}} of 9960 entries</p>
                </div>
                <div class="col-lg-6" style="text-align: right;">
                  <pagination (pageChanged)="pageChanged($event)" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                  [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header card-default">
            <h5>Transaction Feed</h5>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Total Prescriptions</th>
                    <td>n/a</td>
                  </tr>
                </tbody>
              </table>
              <div *ngFor="let transaction of transactionFeed" style="padding: 15px 15px;">
                <span><em>{{transaction.created_at}}</em></span><br>
                <span>{{transaction.pharmacy_name}}</span><br>
                <span><b>{{transaction.product_name}}</b></span>
              </div>
              <p style="text-align: center;">Empty List.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-default">
            <h5>Transactions per Day</h5>
          </div>
          <div class="card-block graphs-mobile">
            <div class="table-responsive">
              <div class="card card-block graphs-mobile">
                <div id="transaction-trend" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-header card-default">
            <h5>Pharmacies</h5>
          </div>
          <div class="card-block graphs-mobile graphs-mobile">
            <div class="card card-block graphs-mobile">
              <div id="total-fruit" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
