#map {
	height: 100%;
	width: 100%;
}

.map-search-bar {
	margin-top: 25px !important; margin-left: 30px !important; width: 350px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
