<div id="map-pharmacy-view" class="page-cover-container"></div>

<div class="container-fluid-list">

	<div class="card card-block card-with-subtitle card-no-top-padding">
		<div class="row">
			<div class="col-lg-8 no-padding">
				<div class="page-header-section">
					<h2>
						<b>{{pharmacyDetail.organization_chain}} {{pharmacyDetail.organization_branch}}</b>
						<a *ngIf="actionType === 'counterfeit'" style="background-color: rgb(5, 37, 53); color: white; padding: 5px 8px; border-radius: 5px; font-size: 16px; margin-left: 15px;">
							Counterfeit
						</a>
						<a *ngIf="actionType === 'disaster-recovery'" style="background-color: rgb(46, 182, 78); color: white; padding: 5px 8px; border-radius: 5px; font-size: 16px; margin-left: 15px;">
							Disaster Recovery
						</a>
					</h2>
				</div>
				<div class="card-subtitle">
					<p *ngIf="!isEdit">
						{{pharmacyDetail.locationInfo?.address || 'Loading...'}}
					</p>
					<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Address" [(ngModel)]="pharmacyDetail.locationInfo.address"></td>
				</div>
			</div>

			<div class="col-lg-4" style="text-align: right; padding-top: 18px;">
				<button class="btn btn-sm btn-secondary" (click)="goBack()"><i class="fa fa-fw fa-chevron-left"></i> Back</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header card-default">
					<h5>Product Details</h5>
				</div>
				<div class="card-block">
					<div class="table-responsive">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th style="cursor: text;" scope="row">Product Name</th>
									<td *ngIf="!isEdit">{{productName}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="Owner's Name" [(ngModel)]="pharmacyDetail.owner_firstname"></td>
								</tr>
								<tr>
									<th style="cursor: text;" scope="row">FDA Packaging</th>
									<td *ngIf="!isEdit">{{fdaPackaging}}</td>
									<td *ngIf="isEdit"><input type="text" class="form-control" placeholder="LTO Number" [(ngModel)]="pharmacyDetail.pharmacist_licensenbr"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<alert *ngIf="isUpdateSuccess" [type]="alert.type" dismissible="true">
								{{alert.message}}
							</alert>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12" style="text-align: right;">
							<button class="btn btn-sm btn-success" (click)="update()" *ngIf="isEdit"><i class="fa fa-fw fa-check"></i> Update</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header card-default">
					<h5>Pharmacy Transactions with <b>{{productName}}</b></h5>
				</div>
				<div class="card-block">
					<div class="row">
						<div class="col-lg-6">
						</div>
						<div class="col-lg-3">
						</div>
						<div class="col-lg-3">
							<div class="form-group">
								<input type="text" class="form-control" type=text [value]="search" [formControl]="searchControl" placeholder="Search...">
							</div>
						</div>
					</div>

					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th (click)="sortList('dispense_date')">Date</th>
									<th (click)="sortList('dispense_date')">Pharmacy</th>
									<th (click)="sortList('dispense_date')">LN/BN</th>
									<th>Expiry</th>
									<th>Instruction</th>
									<th>Remarks</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let transaction of transactions">
									<td>{{formatDate(transaction.created_at, true)}}</td>
									<td><a style="cursor: pointer;" (click)="viewPharmacy(transaction.prescription?.id)">{{getPharmacyName(transaction.prescription?.id) || 'n/a'}}</a></td>
									<td>{{transaction.batch_lot_number}}</td>
									<td>{{formatDate(transaction.expiry_date, false)}}</td>
									<td>{{transaction.instruction}}x {{transaction.instruction_unit}}</td>
									<td>{{transaction.remark}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p *ngIf="transactions.length == 0 && !isLoading" style="text-align: center;">No Transactions.</p>
					<div class="row">
						<div class="col-lg-12">
							<div class="loader" *ngIf="isLoading">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<p style="margin-top: 1rem; margin-bottom: 1rem;">Showing {{bigCurrentPage * 10 - 9}} to {{bigCurrentPage * 10}} of {{bigTotalItems}} entries</p>
						</div>
						<div class="col-lg-6" style="text-align: right;">
							<pagination (pageChanged)="pageChanged($event)" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
							[boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<!-- <div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header card-default">
					<h5>Expired Medicines</h5>
				</div>
				<div class="card-block">

					<div class="table-responsive">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>ID</th>
										<th>Date</th>
										<th>Product</th>
										<th>LN/BN</th>
										<th>Expiry Date</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let transaction of transactions; let i=index">
										<template [ngIf]="i<3">
											<th scope="row">{{transaction.id}}</th>
											<td>{{formatDate(transaction.dispense_date, true)}}</td>
											<td [ngStyle]="isProductUnverified(transaction.id)">{{getProductName(transaction.id) || 'n/a'}}</td>
											<td>{{transaction.batch_lot_number}}</td>
											<td>{{formatDate(transaction.expiry_date, false)}}</td>
										</template>
									</tr>
								</tbody>
							</table>
							<p *ngIf="transactions.length == 0" style="text-align: center;">No Transactions.</p>
							<div class="row">
								<div class="col-lg-12">
									<div class="loader" *ngIf="isLoading">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6">
									<p *ngIf="transactions.length != 0" style="margin-top: 1rem; margin-bottom: 1rem;">Showing 1 to 3 of 3 entries</p>
								</div>
								<div class="col-lg-6" style="text-align: right;">
									<pagination (pageChanged)="pageChanged($event)" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
									[boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div> -->


	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header card-default">
					<h5>Products sold by <b>{{pharmacyDetail.organization_chain}} {{pharmacyDetail.organization_branch}}</b></h5>
				</div>
				<div class="card-block">

					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-3"></div>
						<div class="col-lg-3">

						</div>
						<div class="col-lg-3" style="text-align: right;">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search...">
							</div>
						</div>
					</div>

					<div class="table-responsive">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Date</th>
										<th>Product Name</th>
										<th>LN/BN</th>
										<th>Expiry Date</th>
										<th>Instruction</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let transaction of transactionProducts let i=index">
										<template [ngIf]="i<10">
											<td>{{formatDate(transaction.dispense_date, true)}}</td>
											<td [ngStyle]="isProductUnverified(transaction.id)">{{getProductName(transaction.id) || 'n/a'}}</td>
											<td>{{transaction.batch_lot_number}}</td>
											<td>{{formatDate(transaction.expiry_date, false)}}</td>
											<td>{{transaction.instruction}}x {{transaction.instruction_unit}}</td>
										</template>
									</tr>
								</tbody>
							</table>
							<p *ngIf="transactions.length == 0" style="text-align: center;">No Transactions.</p>
							<div class="row">
								<div class="col-lg-12">
									<div class="loader" *ngIf="isLoading">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</div>
							</div>

							<div class="row" *ngIf="transactions.length != 0">
								<div class="col-lg-6">
									<p style="margin-top: 1rem; margin-bottom: 1rem;">Showing {{bigCurrentPage * 10 - 9}} to {{bigCurrentPage * 10}} of {{bigTotalItems}} entries</p>
								</div>
								<div class="col-lg-6" style="text-align: right;">
									<pagination (pageChanged)="pageChanged($event)" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
									[boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 class="modal-title">Delete Transaction</h5>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to <b>DELETE</b> this transaction?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" (click)="lgModal.hide()">Yes, I'm Sure</button>
				<button type="button" class="btn btn-secondary" (click)="lgModal.hide()">Close</button>
			</div>
		</div>
	</div>
</div>
