<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<h2 class="page-header detail-header">
				Account Settings
			</h2>
		</div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-4">

		</div>
		<div class="col-lg-4">
			<div class="card card-block">
				<fieldset class="form-group">
					<label>Current Password</label>
					<input type="password" class="form-control" placeholder="******">
				</fieldset>
				<fieldset class="form-group">
					<label>New Password</label>
					<input type="password" class="form-control" placeholder="******">
				</fieldset>
				<fieldset class="form-group">
					<label>Confirm New Password</label>
					<input type="password" class="form-control" placeholder="******">
				</fieldset>

				<a class="btn btn-primary btn-block" style="background-color: rgb(46, 182, 78);color: #fff; border: 0; border-bottom: 3px solid rgb(28, 135, 53);"> Update Password </a>
			</div>
		</div>
		<div class="col-lg-4">
		</div>
	</div>
</div>
